<!DOCTYPE html>
<html>

<head>
    <title>Twitter App</title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>

<body>
    <h1>Twitter</h1>
    <h3>My Timeline</h3>
    <form method="get" action="/timeline">
        <section>
            <input type="submit" value="Get Home Timeline" id="get-button" class="button">
            {% for tweet in tweets_from_timeline %}
            <ul>
                <li>{{ tweet.text }}</li>
            </ul>
            {% endfor %}
        </section>
    </form>
    <h3>Tweet something</h3>
    <form method="post" action="/tweet">
        <section>
            <input type="text" id="tweet" class="box" name="Tweet" placeholder="What's happening?">
            <br>
            <input type="submit" value="Tweet" id="post-button" class="button">
            {% if response %}
            <ul>
                <li>{{ response }}</li>
            </ul>
            {% endif %}
        </section>
    </form>

</body>

</html>